*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
.btn{
background-color: blueviolet;
 color: white;
 text-decoration: none;
 padding:10px 20px;
 cursor: pointer;
 border: none;
 border-radius: 5px;
}
.btn:active{
    transform: scale(.96);
}